html {
    scroll-behavior: smooth;
    scrollbar-width: 1px;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.cent {
    height: auto;
}
/* Heading section */
header {
    padding: 10px 0 200px 0;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-image: url("loan_web/header.png");
    background-position: top;
    background-attachment: fixed;
}
.logo img {
    width: 200px;
    height: 200px;
}
.heading {
    margin-top: 0;
}
.heading img {
    width: 60%;
    height: 40%;
    margin-left: 5px;
}
.subheading {
    margin-left: 10px;
    font-weight: lighter;
    color: #ffffff;
    font-size: large;
}
.login button {
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: x-large;
    font-weight: bold;
    transition: 0.25s all linear;
    border: none;
}
.login button:hover {
    background-color:rgb(0, 0, 0);
    color: white;
}
/* Navigation section */
nav {
    text-align: right;
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
    width: 100%;
    position: sticky;
    top: 0;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.6vh;
    transition: 0.3s all linear;
    margin-right: 11px;
    padding: 7px;
}
nav a:hover {
    font-weight: bolder;
    color: white;
    background-color: #000000;
    border-radius: 3px;
}
/* Content-1 section */
.cent h1 {
    font-weight: lighter;
    font-size: 250%;
}
.content1, .content2 {
    width: 67%;
    padding: 10px 30px;
    box-shadow: 0px 0px 5px 1px #838383;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    transition: 0.4s all linear;
}
.content1 {
    background-color: #000000;
    color: white;
}
.content2 {
    background-color: rgb(245, 245, 245);
}
.content1:hover {
    box-shadow: 0px 0px 10px 1px #000000;
}
.content2:hover {
    box-shadow: 0px 0px 10px 1px #000000;
}
p {
    text-align: left;
    line-height: 28px;
    font-size: 120%;
}
/* Footer Section */
.footer_content {
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    padding: 25px 0px 10px 0px;
    border-top: 1px solid #bdbdbd;
}
.footer_header {
    font-size: 200%;
    font-weight: lighter;
}
.contact_us {
    padding-top: 40px;
}
.footer_content a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    margin: 0 10px;
    font-size: 110%;
    font-weight: lighter;
    line-height: 30px;
    text-align: left;
}
.footer_content a:hover {
    text-decoration: underline;
}
hr {
    width: 40%;
    text-align: center;
}
.copy {
    margin-top: 40px;
    text-align: right;
    margin-right: 10px;
    font-weight: lighter;
    font-size: x-small;
}
.up {
    position: sticky;
    bottom: 0;
}
.up img {
    width: 50px;
    height: 50px;
}
