html {
    scroll-behavior: smooth;
    scrollbar-width: 1px;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button, 
input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}*/
/* Heading Section */
nav {
    text-align: right;
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
    width: 100%;
    position: sticky;
    top: 0;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 120%;
    transition: 0.3s all linear;
    margin-right: 1px;
    padding: 7px;
}
nav a:hover {
    font-weight: bolder;
    color: white;
    background-color: #000000;
    border-radius: 3px;
}
/* Form Section */
section {
    text-align: center;
    margin-top: 100px;
}
section h1 {
    font-weight: lighter;
    font-size: 40px;
}
form {
    border: none;
    border-radius: 13px;
    width: 80%;
    max-width: 330px;
    padding: 40px 0;
    box-shadow: 0px 0px 5px 1px #afafaf;
	margin-bottom: 30px;
}
form button {
    padding: 9px 55px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s all linear;
}
form button:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 1px #afafaf;
}
form input {
    width: 85%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 4px;
    font-size: 16px;
}
form hr {
	width: 90%;
	margin: 20px 0;
}
.sec1,
.sec2, 
.sec3, 
.sec4 {
	width: 86%;
	text-align: left;
	padding: 20px;
}
.sec4 input {
	height: 0.01px;
	width: 0.01px;
	opacity: 0;
	margin-top: 12px;
	margin-left: 0;
}
label {
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 4px;
}
label:hover {
	background-color: #303030;
}
.sec1_header, 
.sec2_header, 
.sec3_header, 
.sec4_header {
	font-weight: lighter;
}
.sec1 input {
	width: 25%;
	text-align: center;
	margin: 0;
}
select {
	height: 40px;
	width: 50%;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
}
.sec1 .year {
	width: 35%;
}
::placeholder {
    opacity: 60%;
}
:focus {
	outline: none;
}
:focus::placeholder {
    opacity: 20%;
}